*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    height: 100vh;
    background-color: rgb(81, 81, 137);
}

.main-con .main-heading{
    color: rgb(169, 169, 17);
    font-size: 23px;
    text-align: center;
    padding-top: 40px;
} 


.main-con h2{
    color: #fff;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
}

.line{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.line div{
    height: 4px;
    background-color: yellow;
    width: 150px;
    display: flex;
    justify-content: center;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    height: 200px;
    width: 200px;
}

.box{
    background-color: rgb(59, 59, 117);
    padding: 30px;
    margin: 50px;
}

.box h3{
    text-align: center;
    color: yellow;
    margin-top: 15px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

.box p{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    background-color: yellow;
    border: none;
    color: #000;
    width: 8vw;
    height: 4vh;
    cursor: pointer;
    transition: .1s linear;
    font-size: 17px;
}

.btn button:hover{
    background-color: rgb(214, 214, 18);
}

@media (max-width:920px){

    .container{
        height: 300vh;
        background-color: rgb(81, 81, 137);
    }

    .boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 260vh;
    }

    .btn button{
        width: 20vw;
    }
}